html {
    padding: 30px;
    margin: 50px;
}

body {
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
}

#generate {
    padding-right: 10px;
    background-color: red;
}

header {
    background-color: azure;
    font-size: xx-large;
    font-weight: bolder;
}

textarea {
    border: dotted;
    width: 500px;
    height: 100px;
    align-items: center;
    padding: 20px;
}

button {
    border-radius: 20px;
    border-spacing: 4px;
}