html {
    padding: 30px;
    margin: 50px;
}

body {
    text-align: center;
}

#generate {
    background-color: red;
}

h1 {
    margin: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    padding: 20px;
}

textarea {
    border: dashed;
    width: 500px;
    height: 100px;
    align-items: center;
    padding: 20px;
}